.banner.event-response-banner
%h2
  #{db['name']} te invito a la #{db['time']}
  “#{db['title']}”
%form{method: 'POST'}
  %section.date-selection
    %h3 ¿Qué día/s podés #{db['time']}?
    %ul
      - db['date'].each_with_index do |date, index|
        %li
          %input{type: 'checkbox', name: "date[#{index}]", value: date}
          %span= date
  %section.grey-container.location-selection
    %h3 ¿A dónde te gustaría ir?
    %ul
      - db['zone'].each_with_index do |zone, index|
        %li
          %input{type: 'checkbox', name: "zone[#{index}]", value: zone}
          %span= zone
  %button{type: 'submit'} Votar

- if db['visibility']
  %a.more-info{href: '#'} Ver resultados parciales
  %section.grey-container.time-selection
    %h3 Va ganando
    %p Opcion 1 - 10 votos
  %h3 Los votos de tus invitados
  .results
    - db['votes'].each do |votes|
      %section.result
        %h3= votes['name']
        %p
          Fechas:
          - votes['date'].each do |date|
            = date
          %br
          Barrios:
          - votes['zone'].each do |zone|
            = zone
